<link rel="stylesheet" href="/css/navbar.css">

<div class="nav">
    <!-- logo marca da Mf -->
    <img class="logoMF" src="/images/Logo Maristela MF 2.png" alt="logo da MF">
    <!-- Navegação por link -->
    <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/documento">Regulatório</a></li>
        <li><a href="http://localhost:3000/farmacia">Farmácia</a></li>
        <li><a href="http://localhost:3000/consulta">Consultas</a></li>
        <li><a href="http://localhost:3000/contato">Contato</a></li>
        <li><a href="http://localhost:3000/sobre">Sobre-M&F-Assessoria</a></li>
    </ul>  
    <!-- icone para acesso ao usuario -->
    <a href="http://localhost:3000/users"><img class="iconeUsers" src="/images/icone-usuario.png" alt="usuario"></a>
</div>