<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/farmacia.css' />
    <link rel="icon" href="/images/Logo Maristela MF 2.png" type="image/png">

  </head>
  <header>
    <%-include ('partials/header') %>
    <%-include ('partials/navbar') %>
  </header>
  <main id="container">
    
   <h1>Abertura de farmacia</h1>

    <!-- Botap Whatssap -->
    <a class="whatssap" target="_blank" href="https://wa.me/5511988494342" alt="contato-whatssap">
      <img src="/images/whatsapp-logo-icone.png" alt="Whatssap">
    </a>



  </main>

  <footer>
    <%-include ('partials/footer') %>
  </footer>

 <script src="/javascripts/carrosel-img.js"></script>
  </body>
</html>