<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/farmacia.css' />
    <link rel="icon" href="/images/Logo Maristela MF 2.png" type="image/png">

  </head>
  <header>
    <%-include ('partials/header') %>
    <%-include ('partials/navbar') %>
  </header>
  <main id="container">
    <!--Titulo-->
   <h1>Farmácia</h1>
    <!--Subt titulo-->
   <h3>Marcas Parceiras</h3>
   <!--Bloco de cards-->
   <section>
    <div class="carrosel">
      <ul>
        <li><img src="/images/carrosel-img-1.png" alt=""></li>

        <li><img src="/images/carrosel-img-2.jpeg" alt=""></li>

        <li><img src="/images/carrosel-img-3.jpeg" alt=""></li>
      </ul>
    </div>
  </section>


    <!-- Botap Whatssap -->
    <a class="whatssap" target="_blank" href="https://wa.me/5511988494342" alt="contato-whatssap">
      <img src="/images/whatsapp-logo-icone.png" alt="Whatssap">
    </a>



  </main>

  <footer>
    <%-include ('partials/footer') %>
  </footer>

  <script src="/javascripts/carrosel.js"></script>
  </body>
</html>