<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="icon" href="/images/Logo Maristela MF 2.png" type="image/png">

</head>
<header>
  <%-include ('partials/header') %>
    <%-include ('partials/navbar') %>
</header>
<main id="container">
  <section>
    <div class="fade-in-animation">
      <img class="background-home" src="/images/farmacia-bg.jpg" alt="fundo-de-boas-vindas">
      <h1 class="titulo">Bem-Vindo a M&F Assessoria</h1>
      <p class="paragrafo">A melhor empresa de serviços regulatórios do país</p>
      <p class="paragrafo-1">Fazemos o melhor serviço para nossos clientes com qualidade, eficácia, comprometimento.</p>
      <p class="paragrafo-1">Garantimos o total qualidade na entrega de documentos, estabelecimentos, suporte em lojas
      </p>
      <p class="paragrafo-1">A M&F está agora online.</p>
    </div>
  </section>

  <section>
    <div class="carrosel">
      <ul>
        <li><img src="/images/carrosel-img-1.png" alt=""></li>

        <li><img src="/images/carrosel-img-2.jpeg" alt=""></li>

        <li><img src="/images/carrosel-img-3.jpeg" alt=""></li>
      </ul>
    </div>
  </section>


  <!-- Bloco de carrosel de card -->
  <section>
    <div class="slider slider owl-carousel owl-carousel">
      <div class="card card">
        <div><img src="" alt=""></div>
        <div class="content .content">
          <div class="title">Documento de regulatórios</div>
          <div class="sub-title">R$
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sed reprehenderit vitae assumenda, odio
            beatae temporibus quasi, voluptatibus rem corporis numquam.
          </p>
          <div class="btn">
            <a href=""><button>Ver Mais</button></a>
          </div>
        </div>
      </div>


      <div class="card card">
        <div><img src="" alt=""></div>
        <div class="content .content">
          <div class="title">Abertura de Farmácia</div>
          <div class="sub-title">R$
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sed reprehenderit vitae assumenda, odio
            beatae temporibus quasi, voluptatibus rem corporis numquam. Quis nulla sint totam numquam, officia repellat
            hic natus!
          </p>
          <div class="btn">
            <a href=""><button>Ver Mais</button></a>
          </div>
        </div>
      </div>

      <div class="card card">
        <div><img src="" alt=""></div>
        <div class="content .content">
          <div class="title">Pedidos de Mercadoria</div>
          <div class="sub-title">R$
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sed reprehenderit vitae assumenda, odio
            beatae temporibus quasi, voluptatibus rem corporis numquam. Quis nulla sint totam numquam, officia repellat
            hic natus!
          </p>
          <div class="btn">
            <a href=""><button>Ver Mais</button></a>
          </div>
        </div>
      </div>

      <div class="card card">
        <div><img src="" alt=""></div>
        <div class="content .content">
          <div class="title">Fornecedores e Distribuidoras</div>
          <div class="sub-title">R$
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sed reprehenderit vitae assumenda, odio
            beatae temporibus quasi, voluptatibus rem corporis numquam.
          </p>
          <div class="btn">
            <a href=""><button>Ver Mais</button></a>
          </div>
        </div>
      </div>


      <div class="card card">
        <div><img src="" alt=""></div>
        <div class="content .content">
          <div class="title">Treinamento de funcionários</div>
          <div class="sub-title">R$
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sed reprehenderit vitae assumenda, odio
            beatae temporibus quasi, voluptatibus rem corporis numquam.
          </p>
          <div class="btn">
            <a href=""><button>Ver Mais</button></a>
          </div>
        </div>
      </div>


      <div class="card card">
        <div><img src="" alt=""></div>
        <div class="content .content">
          <div class="title">Consultoria e Atendimento</div>
          <div class="sub-title">R$
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sed reprehenderit vitae assumenda, odio
            beatae temporibus quasi, voluptatibus rem corporis numquam.
          <div class="btn">
            <a href=""><button>Ver Mais</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bloco menssagem -->
  <section>
    <div class="menssagem">
      <h1 id="texto-site" class="fade-in-animation">
        "Conhecimento essencial para a excelência farmacêutica:
        Descubra aqui a fonte confiável de documentos e
        regulamentos para a sua farmácia."
      </h1>
    </div>
  </section>

  <article>
    <div class="carousel">
      <img src="/images/carrosel-img-1.png" alt="Imagem 1">
      <img src="/images/carrosel-img-2.jpeg" alt="Imagem 2">
      <img src="/images/carrosel-img-3.jpeg" alt="Imagem 3">
      <img src="/images/carrosel-img-2.jpeg" alt="Imagem 4">
      <img src="/images/carrosel-img-1.jpeg" alt="Imagem 5">
    </div>
  </article>

  <!-- Bloco carrosel de Distribuidoras -->
  <section>
    <h1 id="title">Distribuidoras Parceiras</h1>
    <div class="carrosel1">
      <ul>
        <li><img src="/images/empresas/Acqua.png" alt=""></li>
        <li><img src="/images/empresas/Amends.png" alt=""></li>
        <li><img src="/images/empresas/Anasol.png" alt=""></li>
        <li><img src="/images/empresas/Gianina.jpeg" alt=""></li>
        <li><img src="/images/empresas/Gpz.png" alt=""></li>
        <li><img src="/images/empresas/Grasmed.png" alt=""></li>
        <li><img src="/images/empresas/grupo7y.png" alt=""></li>
        <li><img src="/images/empresas/Luimed.png" alt=""></li>
        <li><img src="/images/empresas/medibras.png" alt=""></li>
        <li><img src="/images/empresas/Medicamental.png" alt=""></li>
        <li><img src="/images/empresas/Panpharma.png" alt=""></li>
        <li><img src="/images/empresas/Promogarma.png" alt=""></li>
        <li><img src="/images/empresas/Reimar.png" alt=""></li>
        <li><img src="/images/empresas/SantaCruz.png" alt=""></li>
        <li><img src="/images/empresas/SantaCruz.png" alt=""></li>
        <li><img src="/images/empresas/solfarma.png" alt=""></li>
      </ul>
    </div>
  </section>

  <!-- Bloco menssagem -->
  <section>
    <div class="menssagem">
      <h1 id="texto-site" class="fade-in-animation">
        "Transformando complexidade em conformidade: 
        sua fonte confiável de documentos e regulamentos farmacêuticos."
      </h1>
    </div>
  </section>
  <!-- Botap Whatssap -->
  <a class="whatssap" target="_blank" href="https://wa.me/5511988494342" alt="contato-whatssap">
    <img src="/images/whatsapp-logo-icone.png" alt="Whatssap">
  </a>

</main>

<footer>
  <%-include ('partials/footer') %>
</footer>

<script src="/javascripts/carrosel.js"></script>
</body>

</html>