*{
    box-sizing: border-box;
  }
  html{
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1{
    text-align: center;
    justify-content: center;
  }


  /* Bloco de empresas parceiras */
.carrosel{
  width: 100vw;
  height: 200px;
  box-shadow: 2px 2px 2px 2px gray;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px;
}

.carrosel ul{
  display: flex;
  list-style: none;
  width: 1200px;
  height: 350px;
}

.carrosel li{
  position: relative;
  animation: slides 15s infinite ease-out;
}

.carrosel img{
  height: 40%;
  align-self: start;
  justify-content: space-between;
  margin-left: 200px;
}

@keyframes slides{
  0%{
    left: 0px;
  }
  20%{
    left: -200px;
  }
  40%{
    left: -400px;
  }
  60%{
    left: -600px;
  }
  80%{
    left: -800px;
  }
  100%{
    left: 0px;
  }
}
 
  /* estilo botao whatssap */
  .whatssap img{
      width: 55px;
      height: 55px;
      position: fixed;
      margin: 20px;
      left: 1750px;
      bottom: 100px;
      z-index: 9999;
  }
  /* estilo botao whatssap */
  