.teste1{
    width: 100vw;
    height: 25px;
    margin: 0px;
    padding: 5px;
    background-color: #B2DFDB ;
}
.teste1 img{
    width: 100px;
    height: 17px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 700px;
}